.header-container {
    border-bottom: 2px solid blue
}

.nav-link:hover {
    color: blue !important;
    padding: 5px;
    border-radius: 5px;
    color: red;
    background-color: cornflowerblue;
}

.nav-item {
    padding: 20px;
}

.tech-container {
    height: 140vh;
}

.contact-container {
    height: 50vh;
    border: 2px solid red;
}

.social-media-icons i {
    font-size: 30px;
    padding: 1px;
}

.card img {
    height: 100px;
    width: 100px;
}

.social-media-icons i:hover {
    font-size: 50px;
    border-radius: 5px;
    background-color: yellow;
    transform: rotate(180deg);
}

.footer-container {
    width: 100%;
    color: red;
    background-color: black;
    text-align: center;
}

.footer-container p {
    padding-top: 10px;
}